<% include partials/header %>
<div class="container shadow white-transparent mt-3 mb-5 p-3">
    <h1>You've been goated!!!</h1>
    <hr>

	<img src="/images/goat.jpg">
	
	<br><br>
	
	<h4>Error 404 - Page not found.</h4>

</div>

<div class="fixed-bottom">
<% include partials/footer %>